<div class="center hero-unit">
<h1>Acerca de Yoptic</h1>
<h2>Nuestra plataforma permite a las opticas gestionar todos su procesos administrativos y operativos eficiente y eficazmente llevando su empresa a la excelencia.</h2>
<p>Para mayor informacion ingresa al link de nuestra pagina corporativa en el siguiente link:</p> 
<%= link_to "nuestra pagina corporativa", "http://www.yoptic.com" %>
</div>