<footer class="footer">
  <small>
          <li><%= link_to "About us",  about_path%></li>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Terms & Conditions",  terms_path%></li>
    </ul>
  </nav>
</footer>